
*{ 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face{
    font-family: chunk;
    src: url(/assets/fonts/Chunk.otf);
}
img{
    width: 100%;
    height: 100%;
}

/* header */ 

#trait_haut_page{
    border-top: #DC5F5F 5px solid;
}
#button_menu{
    background-color: #D4D4D4;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}
#button_menu:hover{
    background-color: #999999;
    font-size: bold;
}
h1{
    color: #DC5F5F;
    padding: 10px;
    font-family: chunk;
}

nav {
    background-color: #DC5F5F;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.bar_nav:hover{
    background-color: #d14444;

}
#div_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}
#div_hearder_bis {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
#button_abonner {
    background-color: #FFD830;
    border-style: none;
    padding: 5px;
}
#button_abonner:hover {
    background-color: #ffd000;
    font-size: bold;
}
a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    #button_menu span {
        display: none;
    }
    #button_abonner{
        display: none;
    }
    #div_header p {
        display: none;
    }
}

/* main */

.section_titre{
    font-family: chunk;
}

#tous_les_article{
    background-color: #DEDEDE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.div_culture1{
    background-color: white;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: 25%;
    height: 200px;
    overflow: auto;
}
.div_culture1:hover{
    background-color: #ffe77e;
}

.photo_article{
    height: 100%;
    width: 50%;
    padding: 0%;
    margin: 0%;
}

.texte_article{
    width: 50%;
}
.text_article_gras {
    Font-weight: bold;
    width: auto;
}

section{
    padding: 10px 50px;
}
@media screen and (max-width: 600px) {
    #tous_les_article{
        display: flex;
        flex-direction: column;
    }
    .div_culture1 {
        width: 90%;
    }
}
/* Footer */
footer{
    background-color: #d14444;
}
ul {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{ 
    list-style: none;
    padding: 10px;
}
#float_button{
    visibility: hidden;
}
@media screen and (max-width: 600px) {
    ul{
        flex-direction: column;
    }
    #float_button{
        background-color: #d14444;
        position: fixed;
        bottom: 30px;
        right: 20px; 
        border: none;
        padding: 10px 11px;
        border-radius: 5px;
    }
    }